<div class="container">
    <div class="row">
      <div class="container">
        <div class="section">
        <div class="col l12 m12 s12">
            <h3 class="center-align">Forums</h3>
        </div>
      </div>
        <hr>
      </div>
      <div class="section">
        <div class="row" id="forum-header">
            <div class="col l2 m2 s2 ">
              <div class="section">
                <h5>Topic</h5>
              </div>
            </div>
            <div class="col l6 m6 s6 ">
              <div class="section">
                <h5>Description</h5>
              </div>
            </div>
            <div class="col l2 m2 s2 ">
              <div class="section">
                <h5>Post Count</h5>
              </div>
            </div>
            <div class="col l2 m2 s2 ">
              <div class="section">
                <h5>Latest Post</h5>
              </div>
            </div>
        </div>
      </div>
      <div class="row forum-row-t1 z-depth-2">
        <div class="col l2 m2 s2">
          <div class="section">
            <a href="/genre/rules" class="mainForumTitle forum-genre-title">Forum Rules</a>
          </div>
        </div>
        <div class="col l6 m6 s6 ">
            <p>
              I am the Law... Or atleast on this Website.
            </p>
        </div>
        <div class="col l2 m2 s2 ">
          <p>
            coming soon
          </p>
        </div>
        <div class="col l2 m2 s2 ">
          <p>
            coming soon
          </p>
        </div>
      </div>
        <div class="row forum-row-t1 z-depth-2">
          <div class="col l2 m2 s2">
            <div class="section">
              <a href="/genre/General" class="mainForumTitle forum-genre-title">General</a>
            </div>
          </div>
          <div class="col l6 m6 s6 ">
              <p>
                Discussions about the normal life and genral every day things.
              </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
        </div>
        <div class="row forum-row-t2 z-depth-2">
          <div class="col l2 m2 s2 ">
            <div class="section">
              <a href="/genre/Science" class="mainForumTitle forum-genre-title">Science</a>
            </div>
          </div>
          <div class="col l6 m6 s6 ">
              <p>
                Really? So that's how it works. Talk Science stuff here.
              </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
        </div>
        <div class="row forum-row-t1 z-depth-2" >
          <div class="col l2 m2 s2 ">
            <div class="section">
              <a href="/genre/Tech" class="mainForumTitle forum-genre-title">Tech</a>
            </div>
          </div>
          <div class="col l6 m6 s6 ">
              <p>
                OOOooo... What's that new shiny thing? Discussions about Tech related things.
              </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
        </div>
        <div class="row forum-row-t2 z-depth-2">
          <div class="col l2 m2 s2 ">
            <div class="section">
              <a href="/genre/Gaming" class="mainForumTitle forum-genre-title">Gaming</a>
            </div>
          </div>
          <div class="col l6 m6 s6 ">
              <p>
                Gaming, Gaming, Gaming.... What else could there be? Pst Talk about gaming here.
              </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
          <div class="col l2 m2 s2 ">
            <p>
              coming soon
            </p>
          </div>
        </div>
    </div>
</div>
