<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/app.js">
    </script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper nav z-depth-2">
                <a href="/" class="brand-logo titlelogo">Rlogit</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down navlink nav">
                    <li><a class="bold waves-effect waves-light" href="/">Home</a></li>
                    <li><a class="bold waves-effect waves-light" href="/login">Log-in</a></li>
                    <li><a class="bold waves-effect waves-light" href="/signup">Sign-up</a></li>
                    <li><a class="bold waves-effect waves-light" href="/logout">Log-out</a></li>
                </ul>
                <ul class="side-nav nav" id="mobile-demo">
                    <li><a class="bold waves-effect waves-light" href="/">Home</a></li>
                    <li><a class="bold waves-effect waves-light" href="/login">Log-in</a></li>
                    <li><a class="bold waves-effect waves-light" href="/signup">Sign-up</a></li>
                    <li><a class="bold waves-effect waves-light" href="/logout">Log-out</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="page-footer footer">
        <div class="container">
            <div class="row ">
                <div class="col l6 s12">
                    <h5 class="white-text">Rlogit</h5>
                    <p class="grey-text text-lighten-4">Discussion's and Rlogiting</p>
                </div>
                <div class="col l4 offset-l2 s12 right-align">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="/login">Log-in</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
            </div>
        </div>
    </footer>

</html>
