<div class="container">
  <div class="section">
    <div class="center-align">
    <h3>Log-In</h3>
  </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
      <form  action="/login" method="post">
        <div class="row">
          <div class="input-field col l8 m10 s12 offset-l2 offset-m1">
            <input id="email" type="email" name="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l8 m10 s12 offset-l2 offset-m1">
            <input id="password" type="password" name="password" class="validate" required>
            <label for="password" data-error="Please Enter a valid Password.">Password</label>
          </div>
        </div>
        <div class="section">
          <div class="center-align">
              <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </div>
        </div>
      </form>
    </div>
</div>
